body {
    font-family: Arial, sans-serif; /* Change this to the font you want */
}
#banner {
    background-color: #54bceb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 10px;
}

#banner h1 {
    width: 100%;
    text-align: center;
    margin-left: -50px;
    color: white;
}

#filterDivContent {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

#filterDivContent > div {
    margin-bottom: 10px;
}

#filterDivContent input[type="text"],
#filterDivContent input[type="number"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
}

#filterDivContent button {
    padding: 10px 20px;
    background-color: #54bceb;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#filterDivContent button:hover {
    background-color: #3ca6d8; /* Darker shade of the banner color */
}

.error {
    color: red;
    font-size: 12px;
}


#bkpfTable {
    width: 100%;
    border-collapse: collapse;
}

#bkpfTable th, #bkpfTable td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}


#bkpfTable th {
    background-color: #54bceb;
    color: white;
}

#detailsTable {
    align-items: center;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}

#detailsTable th, #detailsTable td {
    padding: 5px;
    border: 1px solid #ddd;
    text-align: center;
}

#extraInfoCell {
    background-color: #f2f2f2;
    box-sizing: border-box;
}

#detailsTbody {
    background-color: white;
}
